<tr class="text-center">
  <td><%= order.id %></td>
  <td><%= order.client %></td>
  <td><%= order.services.count %></td>
  <td><%= order.executor.name %></td>
  <td><%= order.created_at %></td>
  <td><%= order.cost %></td>
  <td><%= link_to 'Просмотр', order_path(order) %> |
    <%= link_to 'Редактировать', edit_order_path(order) %> |
    <%= link_to 'Удалить', order_path(order),
                method: :delete,
                data: { confirm: "Вы уверены?"} %></td>
</tr>
